html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

hr {
  max-width: 50px;
  border-color: #f05f40;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

hr.pricing, hr.contact-us {
  max-width: 100vw;
  border-color: #e5e5e5;
  border-width: 1px;
  margin-bottom: 0;
}

a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: #eb3812;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

h2 {
  font-size: 50px;
}

p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.5;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  border-color: #f05f40;
  color: #fff;
  background-color: #00aeef;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: #fff;
  background-color: #ee4b28;
}

a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: #eb3812;
  }
}

.image-responsive {
  width: 100%;
  height: auto;
}

.bg-how-it-works, .bg-testimonials {
  background-color: #f4f4f4;
  padding-top: 64px;
}

.bg-pricing, .bg-security, .bg-contact-us {
  padding-top: 64px;
  background-color: #fff;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.navbar-default {
  box-shadow: 1px 5px 7px -1px #F4F4F4;
  -webkit-box-shadow: 1px 5px 7px -1px #F0F0F0;
  -moz-box-shadow: 1px 5px 7px -1px #F0F0F0;
  -o-box-shadow: 1px 5px 7px -1px #F0F0F0;
  border: none !important;
  margin-bottom: 0;
  padding: 0 10%;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  .navbar-header .navbar-brand {
    padding: 15px 0;
    height: auto;
  }
  .nav > li>a, .nav>li>a:focus {
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
  }
  .nav > li>a:hover, .nav>li>a:focus:hover {
    color: #f05f40;
  }
  .nav > li.active>a, .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
  }
  .nav > li.active>a:hover, .nav>li.active>a:focus:hover {
    background-color: transparent;
  }
  a.call-us {
    color: #00aeef !important;
    display: inline-block;
    img{
      margin-bottom: 4px;
    }
  }
  a.btn-sign-in {
    background-color: #fff;
    border: 2px solid #ebebeb;
    padding: 10px 18px;
    width: 100px;
  }
  ul.navbar-nav {
    padding: 18px 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  /*background-image: url(../img/header.jpg);*/
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
  }
  .header-content-inner {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 700;
    }
    hr {
      margin: 30px auto;
    }
    p {
      /*font-size: 16px;*/
      font-size: 18px;
      font-weight: 300;
    }
    a.btn {
      font-size: 18px;
      padding: 15px 25px;
    }
    .video {
      margin-top: 40px;
      .image-preview {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      a.btn {
        margin-top: 40px;
        background-color: #ececec;
        color: #999999;
        padding: 13px 40px 13px 15px;
        display: inline-block;
      }
      .play-icon {
        margin-right: 25px;
        margin-top: 3px;
      }
      .button-text {
        margin-top: 1px;
      }
    }
  }
}

#pricing {
  .item-name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .price {
    font-size: 40px;
    color: #00aeef;
    span{
      font-size: 14px;
    }
  }
  .price-detail{
    margin-bottom: 0;
    font-size: 20px;
  }
  .what-link{
    margin-bottom: 0;
    text-decoration: underline;
    color: #00aeef;
    font-size: 20px;
  }
  a.btn {
    margin-top: 40px;
    /*padding: 15px 40px;*/
    padding: 15px 25px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .border-right {
    border-right: 1px solid #e5e5e5;
  }
  .bottom-title {
    margin-top: 0;
  }
  .bottom-pricing {
    margin-top: 25px;
    p{
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

.carousel-inner {
  img {
    margin: 0 auto;
  }
  .author-name {
    color: #00aeef;
    font-size: 19px;
    margin-bottom: 10px;
  }
  .comment-content {
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 15px;
  }

}

.carousel-indicators {
  bottom: -35px;
  li {
    background-color: #cccccc;
    width: 12px;
    height: 12px;
    border: none;
    margin:  0 4px;
  }
  li.active {
    background-color: #00aeef;
    margin:  0 4px;
  }
}

#contact-us {
  .phone-no, .email {
    color: #00aeef;
  }
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

@media(max-width: 989px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  .navbar-default a.btn-sign-in {
    width: 100px;
  }
}

@media(max-width:767px) {
  section {
    padding: 30px 0 !important;
  }

  p {
    font-size: 16px;
  }

  .section-heading {
    font-size: 40px;
  }

}

@media(min-width:768px) {
  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    /*color: rgba(255,255,255,.7);*/
    color: #999999;
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    /*color: #fff;*/
  }

  .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #222;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #f05f40;
  }
}

@media(max-width:776px) {
  .footer-bottom {
    .copy-right, .tc, .prp, .partner {
      width: 100%;
      margin-bottom: 6px;
      margin-top: 0;
    }
  }

}

footer {
  background-color: #00aeef;
  color: #fff;
  a {
    &:hover, &:focus {
      color: #eb3812 !important;
    }
  }
  .item-list {
    padding: 30px 10%;
    .note{
      font-size: 12px;
      margin-bottom: 10px;
    }
    .address{
      margin-bottom: 10px;
    }
    a{
      line-height: 1.8;
      color: #fff;
    }

  }
  .section-heading {
    font-size: 20px;
    color: #fff;
  }
  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
  }
  .text-left {
    text-align: left;
  }
  .footer-bottom {
    padding: 15px 10%;
    background-color: #0190c6;
    a{
      color: #fff;
    }
    .copy-right, .tc, .prp {
      margin-right: 45px;
      margin-top: 8px;
    }
  }
}




















